:root {
    --main-color-1: #243396;
    --main-color-2: #E2AE3E;
    --second-color-1: #FFEDAA;
    --second-color-2: #fbf6e3;
    --soft-grey: #C7C7C7;
    --dark-grey: #9a9a9a;
}


/* Carrusel */
.swiper {
    width: auto;
    height: 600px;
    border-radius: 40px;
    object-fit: contain center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    margin-bottom: 20px;

}
.swiper-wrapper {
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    object-position: center;
}

.swiper-pagination-bullet {
background: var(--main-color-2);
}

.swiper-pagination-bullet-active {
background: var(--main-color-1);
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
background: var(--main-color-2);
}


/* LIKE */
.heart-icon2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}
  
.heart-icon2.liked {
color: white
}

/* historia huella*/
.historias-huella {
    margin: 0 auto;
    max-width: 1200px;
    h2 {
        font-size: 3rem;
    }
}

.titulo-historia {
    font-size: 1.5rem;
    padding-top: 40px;

}

.bg-historias-huella {
    background: var(--second-color-2);
    height: auto;
    padding: 60px 0 ;
}

.historia-mango {

    display: flex;
    gap: 5rem;
    line-height: 1.6;
    font-family: 'Benton-Regular';
    margin-bottom: 100px;
}
